[Desktop Entry]
Encoding=UTF-8
Name=Pouar's SVG Full Polyfill


Type=Service
ServiceTypes=Plasma/Wallpaper
Icon=preferences-desktop-wallpaper
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Pouar
X-KDE-PluginInfo-Email=thepouar@gmail.com
X-KDE-PluginInfo-Name=org.pouar.pouarwp
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://thepouar.dnsdojo.com/cgit/pouarpolyfillwallpaper.git/
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
